modules = ["nodejs-22", "python-3.11", "python3", "postgresql-16"]

[agent]
stack = "AGENT_STACK"
integrations = ["javascript_openai_ai_integrations:1.0.0", "agentstack-trigger-time_based:1.0.0"]
automationTriggerConnectorName = "legacy_timebased"

[nix]
channel = "stable-24_11"
packages = ["jq"]

[env]
MASTRA_HIDE_CLOUD_CTA = "true"

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["sh", "-c", "cd .mastra/output && NODE_ENV=production node index.mjs"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8289

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start inngest server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mastra dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "automations"

[[workflows.workflow]]
name = "Start inngest server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./scripts/inngest.sh"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "automations"

[userenv]

[userenv.shared]
BASESCAN_API_KEY = "AZBW4BSIC9IC3JPENXRWXTMT8QQ1PVTUAH"
RPC_URL = "https://base-sepolia.publicnode.com"
VAULT_ADDRESS = "0x26BCAe8DEA9A2b04a522cab2679CF9708d3F84E3"
USDC_ADDRESS = "0x743dBb99B51A542aA7b6E859713b4b615445C019"
STRATEGY_ADDRESS = "0x38B00348749CD5194c1fD732226Cd4F5fEEE4695"
KEEPER_ADDRESS = "0x4E5BddD57b77058eF89C309aD9CCc028a3c42bF0"
VAULT_V5_ADDRESS = "0x5B73E04b29A535e59CBBaacC8B3599173fA713E1"
TREASURY_ADDRESS = "0x5B73E04b29A535e59CBBaacC8B3599173fA713E1"
VAULT_V7_ADDRESS = "0xf2603a9645294033F3463C5b22C878530E26EeA3"
BASE_RPC_URL = "https://base-mainnet.g.alchemy.com/v2/0tHcICpxKdnmScqh22kL5"
